.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}
.form-check-inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}
.form-check-inline .check-box {
  position: static;
  margin-right: 0.3125rem;
  margin-left: 0;
}
.form-check-inline .control-label {
  padding-right: 10px;
}